.features{
     background: url(../img/bg/bgfeatures-coffee.png) 95% 100% no-repeat, url(../img/bg/bgfeatures-earphones.png) 95% 0 no-repeat, url(../img/bg/bgfeatures-pens.png) 5% 0 no-repeat;
    background-color: #f6f5f3; ;
    display: block;
}

@media (max-width:700px) {

    .features{
        background-image: none;
    }
}
.features-big-title h3{
    
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ff6d6d;
}
.features-small-titles{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
    width: 100%;
   min-height: 200px;
 
}
.small-title {
    max-width: 33.33%;
    min-width: 300px;
}
.small-title a{
    text-decoration: none;
    font-family: 'Exo',sans-serif;
    font-size: 22px;
    line-height: 48px;
    font-weight: bold;
    color: #000000;
    transition: all 0.7s;
}
.small-title img{
    position: relative;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    transition: 0.2s;
}
.small-title p{
    display: inline-block;
    color: #000000;
   vertical-align: top;
   font-weight: 500;
   letter-spacing: 1px;
}
.small-title a:hover{
    color: #ff6d6d;
}