.features{
     background: url(../img/bg/bgfeatures-coffee.png) 95% 100% no-repeat, url(../img/bg/bgfeatures-earphones.png) 95% 0 no-repeat, url(../img/bg/bgfeatures-pens.png) 5% 0 no-repeat;
    background-color: #f6f5f3; ;
    
}
.wrapper{
    position: relative;
    min-height: 350px;
    padding: 135px 10% 65px 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
@media (max-width:700px) {

    .features{
        background-image: none;
    }
}
.features-big-title h3{
    
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ff6d6d;
}