.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/bg/bgclients.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px 0px 0px;
}

.client-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  min-width: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 500px) {
  .client-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: none;
  }
}
.client-cards h3, p {
  color: #fffff2;
  margin-top: 5px;
  margin-left: 10px;
}

.client-cards h2 {
  color: rgb(219, 80, 89);
  margin-top: 5px;
}

.client-cards img {
  width: 70px;
  height: 70px;
}

.card-1 {
  display: inline-block;
  max-width: 300px;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 400px) {
  .sponsors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.brands a {
  cursor: pointer;
  line-height: 80px;
}

.brands img {
  margin-bottom: 30px;
}

.brands img:nth-child(1) {
  margin-left: 50px;
}

.brands {
  display: block;
}

.brands a {
  cursor: pointer;
}

.brands a:nth-child(1)::before {
  left: 48.2%;
}

.brands a::before {
  display: block;
  content: "";
  position: absolute;
  opacity: 1;
  width: auto;
  border: 8px solid transparent;
  border-bottom: 8px solid #ff6d6d;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.sponsor a:hover::before {
  opacity: 1;
}

.card-1 h3, h2, p {
  font-family: "Exo";
}

.card-1 a {
  text-decoration: none;
  color: #fffff2;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: normal;
  line-height: 40px;
}

.card-1 a:hover {
  color: #ff6d6d;
}