.try-form{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: blue;
    z-index: 5;
    top: 25vh;
    left: 75vh;

}